<%= turbo_stream_from @session %>

<div class="configuration-container">
  <h1>Configure <%= @game.name %></h1>


  <div id="configuration-messages" class="messages-container" data-controller="auto-scroll">
    <%= render partial: "message", collection: @messages %>
  </div>

  <%= render partial: "message_form", locals: {
    game: @game,
    available_models: @available_models,
    default_model: @default_model
  } %>
</div>