<div class="game-layout">
  <div class="content">
    <div class="container">
      <h1 class="page-title">Start New Game</h1>

      <div class="resource-section">
        <%= render "form", game: @game %>
      </div>

      <div class="mt-4">
        <%= link_to "Back to Games", games_path, class: "btn btn-outline-dark" %>
      </div>
    </div>
  </div>
</div>