<%= form_with model: [@game, message], url: game_dm_messages_path(@game), 
              local: false, id: "new_dm_message_form",
              data: { controller: "message-form" } do |f| %>
  <%= form_errors(message) %>
  
  <div class="input-group">
    <%= f.text_field :content, 
                     class: "form-control", 
                     placeholder: "Type your message...",
                     data: { action: "keydown.enter->message-form#submit" } %>
    <%= f.submit "Send", class: "btn btn-primary" %>
  </div>
<% end %>